<article>
  <header>
    <h2>{{user.username}}</h2>
  </header>

  <table class="user-info">
    <tr>
      <td width="15%">First Name:</td>
      <td>{{user.firstname}}</td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>{{user.lastname}}</td>
    </tr>
    <tr>
      <td>Profession:</td>
      <td>{{user.profession}}</td>
    </tr>
    <tr>
      <td>Bio:</td>
      <td>{{user.bio}}</td>
    </tr>
  </table>
</article>